body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-family: 'Georgia', serif;
    justify-content: center;
    text-align: center;


}

section h2 {
    font-size: 42px;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 40px;
    font-family: Trajan Pro;

}
section p{
    font-family:papyrus;
}
section h2 hr {
    margin: 20px auto;
    border: 0;
    height: 2px;
    background-color: #2c3e50;
}
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: cyan;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
}
.responsive-img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}


section {
    padding: 50px;
    background-color: #ffffff;
    margin: 60px auto;
    max-width: 1300px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#evoluz iframe{
    height: 400px;
    float: right;
    margin: 20px;

}
#espans img{
    max-width: 100%;
    height: auto;
   
}

#aus img {
    height: 400px;
    float: right;
    border-radius: 50px;
    margin: 20px;
}
#hab img {
    height: 400px;
    float: right;
    border-radius: 50px;
    margin: 20px;
}

#erec img {
    height: 450px;
    float: left;
    border-radius: 50px;
    margin: 20px;
}

#neander img {
    height: 600px;
    float: left;
    border-radius: 50px;
    margin: 20px;
}

#sapiens img {
    height: 600px;
    float: right;
    border-radius: 50px;
    margin: 20px;
}

#approfondire a{
    font-family: sans-serif;
    font-size: 15px;
    color: #65350f;
}
#mam img {
    height: 250px;
}
#axe-left img {
    height: 50px;
}
#axe-right img {
    height: 50px;
}
#axe-right img {
    transform: scaleX(-1); 
}

